@import 'reset';
@import 'color';
@import 'font';
@import 'typography';
@import 'responsive';

.header {
  height: 128px;
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    img {
      width: 64px;
      height: 64px;
    }
  }

  &__log {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    h2 {
      display: none;
    }
  }

  @include mq('xxs') {
    &__log {
      align-items: baseline;
      h2 {
        display: block;
      }
    }
  }

  @include mq('sm') {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5rem 0 7rem;

    &__log {
      flex-direction: column;
      margin-top: 2rem;
      padding: 0.5rem;
      box-shadow: 4px 4px 10px 1px #222;
      border-radius: 2px;
      background-color: #fff;
    }
  }
}

main {
  padding: 3rem;
}

table,
th,
td {
  border-collapse: collapse;
}

table {
  width: 100%;
  thead {
    tr {
      border-bottom: 3px inset black;
      th {
        padding: 0.5rem;
        text-transform: uppercase;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid rgb(65, 65, 65, 0.5);
      &:nth-child(even) {
        background-color: rgb(135, 135, 135, 0.4);
        &:hover {
          background-color: rgb(135, 135, 135, 0.3);
        }
      }
      &:nth-child(odd) {
        &:hover {
          background-color: rgb(135, 135, 135, 0.1);
        }
      }
      td {
        padding: 0.4rem 0.5rem;
        text-align: center;

        &:first-child {
          text-align: left;
        }
      }
    }
  }
  .read {
    margin: auto;
  }
}
