@import 'reset';
@import 'color';
@import 'font';
@import 'typography';
@import 'responsive';

@import 'modal';
@import 'library';

.header {
  height: 128px;
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    img {
      width: 64px;
      height: 64px;
    }
  }

  &__log {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

main {
  padding: 3rem 0.2rem;
}

#btn_add_book {
  background-color: $primary-main;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
}

#searchInput {
  background-image: url('./../images/search_FILL0_wght400_GRAD0_opsz48.svg');
  background-repeat: no-repeat;
  background-size: 1.75rem;
  background-position: 0.5rem;
  width: 100%;
  padding: 0.5rem 2.5rem;
  margin: 1rem 0;
  border: 1px solid rgba(34, 34, 34, 0.541);
}

@include mq('xxs') {
  .header {
    &__log {
      align-items: baseline;
      h2 {
        display: block;
      }
    }
  }
}

@include mq('sm') {
  main {
    padding: 3rem 2rem;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5rem 0 7rem;

    &__log {
      flex-direction: column;
      margin-top: 2rem;
      padding: 0.5rem;
      box-shadow: 4px 4px 10px 1px #222;
      border-radius: 2px;
      background-color: #fff;
    }
  }
}
